# **Basic Python**

## 1.a 
Give a function F that takes a single argument n. This function should print a sequence of n strings as described in the examples below: <br>
Ex: **n = 3**

--A--<br>
-BAB-<br>
CBABC<br>

**n = 4**

---A---<br>
--BAB--<br>
-CBABC-<br>
DCBABCD

In [ ]:
def F(n):
    # Start coding
    for i in range(1, n+1):
        for j in range(1, 2*n):
            
    pass

# Tests
F(10)
F(6)

## 1.b
Make a function F that takes only one argument, a dictionary(dict) d.
The keys of d are integers and the values of d are a tuple of type (x (int), y (int)).
You must print out the dict in the format "-key-, -x-, -y-" with each entry in a new line. Print it for each of the three sorted orders, by key values ascending, by x values descending, by y values ascending.

In [3]:
def F(d : dict):
    # Start coding
    for i in d:
        print(i, d[i][0], d[i][1], sep=', ')
    pass

# Tests
F({1 : (1, 2), 2 : (-1, 4), 5 : (-4, 3), 4 : (2, 3)})
F({-8 : (4, 2), 6 : (-3, 4), 7 : (2, 1), 5 : (9, -10)})

1, 1, 2
2, -1, 4
5, -4, 3
4, 2, 3
-8, 4, 2
6, -3, 4
7, 2, 1
5, 9, -10

## 2 Working with Student Records

Use the data in **student_records.csv** to complete the given tasks. Do not include any external libraries. Use a Python dictionary if required.

### Reference
- [Python Dictionaries](https://www.w3schools.com/python/python_dictionaries.asp)

#### 2.a: open the student_records.csv file and print out the first 10 rows

In [10]:
#TODO
import pandas as pd
df = pd.read_csv('student_records.csv')
df.head(10)

   roll_number department  credit course_name      course_type grade
0       588946         MA       3       EC250  hasmed_elective    AB
1       145372         EP       4       EP407  hasmed_elective    CC
2       834515         MA       8       EP885  hasmed_elective    BB
3       344265        CSE       6      CSE699          honours    AB
4       358405         MA       3       EE460            minor    AP
5       781075         CE       8       CE540          honours    CC
6       180828        CSE       6       CE880            minor    AB
7       981238         MM       4      CSE226            minor    AB
8       836881         MM       8       MM530             core    AA
9       310604         EE       8       EE202             core    AB

#### 2.b: Print out the total credits and calculte CPI of each student. 
CPI is the weighted average of core courses, and electives (weights being the letter grades converted to number AP,AA=10, AB=9, BB=9, BC=7, CC=6)

In [25]:
#TODO
df_credit = df[df['course_type'] != 'honours']
df_credit = df_credit[df_credit['course_type'] != 'minor']
df_credit = df_credit[df_credit['course_type'] != 'alc']

df_credit['grade_in_numbers'] = df_credit['grade'].map({'AP': 10, 'AA': 10, 'AB': 9, 'BB': 8, 'BC': 7, 'CC': 6, 'CD': 5, 'DD': 4})
df_credit['credit_times_grade'] = df_credit['credit'] * df_credit['grade_in_numbers']
display(df_credit.groupby('roll_number').sum()['credit_times_grade'] / df_credit.groupby('roll_number').sum()['credit'])

roll_number
124663    8.230000
138296    7.991228
143142    8.562963
143856    8.491803
144528    8.571429
            ...
981238    8.275000
986057    7.925676
993835    8.424242
995208    7.590909
998293    8.560000
Length: 100, dtype: float64

#### 2.c: Print out the names of all students who meet the graduation requirements 
Atleast 20 credist of core course, 15 credits of department elective, 10 credits of flexible elective and 5 credits of hasmed electives

In [94]:
#TODO
df_credit_grouped = df_credit.groupby(['roll_number', 'course_type']).sum()['credit']
df_credit_grouped = df_credit_grouped.unstack().fillna(0)
df_credit_grouped[df_credit_grouped.eval("core >= 20 and department_elective >= 15 and felxible_elective >= 10 and hasmed_elective >= 5")].index

Index([124663, 143142, 143856, 144528, 150503, 159438, 180828, 203200, 207443,
       214270, 265922, 282482, 283796, 294697, 310604, 327122, 362471, 379479,
       381227, 388969, 391848, 461971, 482623, 485484, 488661, 500658, 517837,
       521087, 534763, 571782, 572815, 581065, 581858, 588946, 608522, 608952,
       626000, 628849, 630568, 681499, 692318, 703403, 716985, 721490, 750259,
       773982, 781075, 782129, 787967, 810863, 834515, 836881, 845623, 871746,
       879634, 881983, 888886, 928288, 955757, 960395, 970791, 971123, 973158,
       981238, 986057, 998293],
      dtype='int64', name='roll_number')

#### 2.d: Print out the names of all students who completed a minor 
Atleast 10 credits with minor tag in a specific department

In [72]:
#TODO
df_minor = df[df['course_type'] == 'minor']
df_grouped_minor = df_minor.groupby(['roll_number', 'department']).sum()['credit']
print(df_grouped_minor[df_grouped_minor >= 10].index.levels[0])

Index([124663, 138296, 143142, 143856, 144528, 145372, 150503, 159438, 180828,
       194063, 199713, 203200, 207443, 208100, 214270, 265922, 270007, 282482,
       283796, 294697, 301135, 310604, 327122, 329535, 344265, 358405, 362471,
       364146, 379479, 381227, 381526, 388969, 391848, 458200, 461584, 461971,
       465496, 478606, 482623, 485484, 488661, 500658, 517837, 521087, 534763,
       571782, 572815, 581065, 581858, 582912, 588946, 589528, 597353, 608522,
       608952, 613401, 626000, 628849, 630568, 680096, 681499, 692318, 703403,
       716985, 718510, 721490, 733782, 750259, 773982, 775967, 781075, 782129,
       787967, 788020, 810863, 816041, 834515, 836431, 836881, 841365, 845623,
       847809, 851029, 870642, 871746, 879634, 881983, 888886, 907454, 928288,
       955757, 960395, 970791, 971123, 973158, 981238, 986057, 993835, 995208,
       998293],
      dtype='int64', name='roll_number')

#### 2.e: Print out the names of all students who completed a honours
Atleast 10 credits with honours tag and 20 core credits

In [90]:
#TODO
df_honours = df.groupby(['roll_number', 'course_type']).sum()['credit']
df_honours = df_honours.unstack()
df_honours['honours'] = df_honours['honours'].fillna(0)
df_honours['honours'] = df_honours['honours'].astype(int)

print(df_honours[df_honours.eval("honours >= 10 and core >= 20")].index)

Index([124663, 143142, 143856, 144528, 145372, 150503, 159438, 199713, 203200,
       207443, 208100, 214270, 265922, 282482, 283796, 294697, 310604, 327122,
       362471, 364146, 379479, 388969, 391848, 458200, 461971, 465496, 482623,
       485484, 488661, 500658, 517837, 521087, 534763, 571782, 572815, 581065,
       581858, 582912, 588946, 589528, 608522, 608952, 613401, 626000, 628849,
       630568, 681499, 692318, 703403, 716985, 718510, 721490, 750259, 773982,
       781075, 782129, 787967, 788020, 810863, 834515, 836881, 845623, 870642,
       871746, 879634, 881983, 888886, 928288, 955757, 960395, 970791, 971123,
       973158, 986057, 998293],
      dtype='int64', name='roll_number')

# **SciPy**

## Part A
Minimize the function $f(x, y) = 2(x - y - 3)^2 + 4(x + 2y + 1)^4$.<br>
With the constraints : $ x - y \ge -3, (x + 2)^2 + (y + 1)^2 \le 5$ <br>
Using scipy.optimize.minimize with constraints. (Hint: Look at the examples in the official documentation)

In [112]:
#TODO
import scipy
import numpy as np

def f(vars):
	x, y = vars
	return 2*(x - y - 3)**2 + 4*(x + 2*y + 1)**4

def ineq1(vars):
	x, y = vars
	return x - y + 3

def ineq2(vars):
	x, y = vars
	return 5 - (x + 2)**2 - (y + 1)**2

con1 = {'type': 'ineq', 'fun': ineq1}
con2 = {'type': 'ineq', 'fun': ineq2}

result = scipy.optimize.minimize(f, [1, 1], constraints=[con1, con2])
print(result)

 message: Optimization terminated successfully
 success: True
  status: 0
     fun: 7.345026153552391
       x: [ 2.349e-01 -9.285e-01]
     nit: 9
     jac: [-1.120e+01 -3.583e-01]
    nfev: 30
    njev: 9

# Part B
Evaluate the line integral of the function $f(x, y) = x^2 + y^4$ along the circle $ x^2 + y^2 = 3 $ anticlockwise (scalar integral, not vector). You must use scipy for integration but you may use parameterization

In [127]:
#TODO
from scipy.integrate import quad
def f(x, y):
	return x**2 + y**4

R = np.sqrt(3)
def integrand(theta):
	x = R * np.cos(theta)
	y = R * np.sin(theta)
	return f(x, y) * R

result, error = quad(integrand, 0, 2*np.pi)
print(result)

53.05363140385085

# **Numpy**

### Read Lisan_Al_Gaib.pdf for problem description and complete the following functions

In [ ]:
import time # to time the execution
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
### TODO 1
### Load data from data_path
### Check the input file spice_locations.txt to understand the Data Format
### Return : np array of size Nx2
def load_data(data_path):
    return None

In [ ]:
### TODO 2.1
### If init_centers is None, initialize the centers by selecting K data points at random without replacement
### Else, use the centers provided in init_centers
### Return : np array of size Kx2
def initialise_centers(data, K, init_centers=None):
    return None

In [ ]:
### TODO 2.2
### Initialize the labels to all ones to size (N,) where N is the number of data points
### Return : np array of size N
def initialise_labels(data):
    return None

In [ ]:
### TODO 3.1 : E step
### For Each data point, find the distance to each center
### Return : np array of size NxK
def calculate_distances(data, centers):
    return None

In [ ]:
### TODO 3.2 : E step
### For Each data point, assign the label of the nearest center
### Return : np array of size N
def update_labels(distances):
    return None

In [ ]:
### TODO 4 : M step
### Update the centers to the mean of the data points assigned to it
### Return : np array of size Kx2
def update_centers(data, labels, K):
    return None

In [ ]:
### TODO 6 : Check convergence
### Check if the labels have changed from the previous iteration
### Return : True / False
def check_termination(labels1, labels2):
    return None

In [ ]:
### DON'T CHANGE ANYTHING IN THE FOLLOWING FUNCTION
def kmeans(data_path:str, K:int, init_centers):
    '''
    Input :
        data (type str): path to the file containing the data
        K (type int): number of clusters
        init_centers (type numpy.ndarray): initial centers. shape = (K, 2) or None
    Output :
        centers (type numpy.ndarray): final centers. shape = (K, 2)
        labels (type numpy.ndarray): label of each data point. shape = (N,)
        time (type float): time taken by the algorithm to converge in seconds
    N is the number of data points each of shape (2,)
    '''
    data = load_data(data_path)    
    centers = initialise_centers(data, K, init_centers)
    labels = initialise_labels(data)

    start_time = time.time() # Time stamp 

    while True:
        distances = calculate_distances(data, centers)
        labels_new = update_labels(distances)
        centers = update_centers(data, labels_new, K)
        if check_termination(labels, labels_new): break
        else: labels = labels_new
 
    end_time = time.time() # Time stamp after the algorithm ends
    return centers, labels, end_time - start_time

In [ ]:
### TODO 7
def visualise(data_path, labels, centers):
    data = load_data(data_path)

    # Scatter plot of the data points
    plt.scatter(data[:, 0], data[:, 1], c=labels, s=50, cmap='viridis')
    plt.scatter(centers[:, 0], centers[:, 1], c='black', s=200, alpha=0.5)

    ### Set title as 'K-means clustering'

    ### Set xlabel as 'Longitude'

    ### Set ylabel as 'Latitude'

    ### Save the plot as 'kmeans.png'


    ## DO NOT CHANGE THE FOLLOWING LINE
    return plt

In [ ]:
### After you have completed the above functions, run the following code to generate the plot
data_path = 'spice_locations.txt'
K, init_centers = 2, None
centers, labels, time_taken = kmeans(data_path, K, init_centers)
print('Time taken for the algorithm to converge:', time_taken)
visualise(data_path, labels, centers)